/* You can add global styles to this file, and also import other style files */
.hover-cursor{
    cursor: pointer;
}
.backgroundcolor{
background: green;
}
.disabled{
    pointer-events: none;
    
}
.nondisable{
pointer-events: all;
}